@keyframes animacaoSignIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.perfil {
  width: 90%;
  height: 100%;
}

.row_info_pessoais {
  height: auto;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  align-items: flex-start;
  margin-top: 0.5rem;
  animation-name: animacaoSignIn;
  animation-duration: 2s;
}

.info {
  margin-left: 1rem;
}

.info .name,
.profession,
.city {
  margin-top: 0;
  margin-bottom: 0;
}

.mobile,
.email {
  margin-top: 0;
  margin-bottom: 0;
  color: gray;
}

img {
  border-radius: 50%;
  height: 140px;
}

.row_resumo {
  margin-top: 0;
  padding-top: 2rem;
  padding-left: 156px;
  animation-name: animacaoSignIn;
  animation-duration: 2s;
}

.row_resumo h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: justify;
}

.row_resumo h4 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
}

.row_resumo h2:after {
  content: " ";
  display: block;
  border: 2px solid rgb(102, 216, 68);
  width: 50px;
}

.row_git {
  margin-top: 0;
  padding-top: 2rem;
  padding-left: 156px;
  animation-name: animacaoSignIn;
  animation-duration: 2s;
}

.row_git h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: justify;
}

.row_git h2:after {
  content: " ";
  display: block;
  border: 2px solid rgb(102, 216, 68);
  width: 50px;
}
.row_git a {
  font-size: 1rem;
}

.row_experiencias h2:after {
  content: " ";
  display: block;
  border: 2px solid rgb(102, 216, 68);
  width: 50px;
}

.row_experiencias {
  margin-top: 0;
  padding-top: 2rem;
  padding-left: 156px;
  animation-name: animacaoSignIn;
  animation-duration: 2s;
}

.row_formacao {
  margin-top: 0;
  padding-top: 1rem;
  padding-left: 156px;
  animation-name: animacaoSignIn;
  animation-duration: 2s;
}

.row_formacao h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: justify;
}

.row_formacao h2:after {
  content: " ";
  display: block;
  border: 2px solid rgb(102, 216, 68);
  width: 50px;
}

.info_row_formacao h3 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
}

.info_row_formacao {
  display: flex;
  align-items: flex-start;
}

.material-symbols-outlined {
  margin-right: 10px;
  font-size: 1.6rem;
}

@media (max-width: 376px) {
  .row_info_pessoais {
    height: auto;
    width: 100%;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    flex-direction: column;
    animation-name: animacaoSignIn;
    animation-duration: 2s;
  }

  .info {
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row_resumo {
    margin-top: 0;
    padding-top: 2rem;
    padding-left: 0px;
    animation-name: animacaoSignIn;
    animation-duration: 2s;
  }

  .row_git {
    margin-top: 0;
    padding-top: 2rem;
    padding-left: 0px;
    animation-name: animacaoSignIn;
    animation-duration: 2s;
  }

  .row_experiencias {
    margin-top: 0;
    padding-top: 2rem;
    padding-left: 0px;
    animation-name: animacaoSignIn;
    animation-duration: 2s;
  }

  .row_formacao {
    margin-top: 0;
    padding-top: 2rem;
    padding-left: 0px;
    animation-name: animacaoSignIn;
    animation-duration: 2s;
  }
}
