<div class="container">
  <form
    [formGroup]="formLogin"
    class="form mat-elevation-z8"
    (ngSubmit)="logar()"
  >
    <div class="title">
      <h1>DEV Portfólio</h1>
    </div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input
        formControlName="email"
        required
        name="email"
        matInput
        placeholder="Ex. fulano@mail.com"
      />
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Senha</mat-label>
      <input
        formControlName="senha"
        required
        name="senha"
        matInput
        placeholder="senha"
      />
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>

    <button
      type="submit"
      [disabled]="!validaCampos()"
      class="full-width mat-elevation-z4"
      mat-stroked-button
      [ngClass]="{ camposValidos: validaCampos() === true }"
    >
      Login
    </button>
  </form>
</div>
